.headerDescrizione {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: monospace;
}

/* STILE BUTTON */
.buttonCarica {
    border-radius: 12px;
    width: 100%;
    font-size: 5vh;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: white;
    background-color: green;
    margin-top: 3vh;
}

/* ANIMAZIONE HOVER (QUANDO PASSO SOPRA CON IL MOUSE) */
.buttonCarica:hover {
    background-color: black; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ANIMAZIONE  ACTIVE (QUANDO VIENE CLICCATO) */
.buttonCarica:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* STILE NOME CITTÀ E STEMMA */
.citta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}

.stemma {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}