.header {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-family: monospace;
}

.bordi {
    border: 1px solid black
}