<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5L Bracco EJS</title>
</head>
<body>
    <!-- Questo codice si chiama EJS, viene interpretato dal server -->
    <!-- Il client interpreta solo HTML, CSS e JavaScript ! -->
    BENVENUTO <%= variabile.nome + " " + variabile.cognome + " (" + variabile.CF + ")"%>
</body>
</html>