/* Inizio CSS generale */
html, body{
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden;
    background-color: #e8e8e8!important;
}

.b{
    border: 1px solid black;
}

/* Fine css generale */

/* Inizio stile homa page */
a{
    text-decoration: none!important;
    color: white!important;
    transition: 0.5s;
}

a:hover{
    text-decoration: none!important;
    color: rgb(241, 213, 213)!important;
    cursor: pointer;
}

.nav-bar{
    position: fixed;
    background-color: #0e1117;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}
/* Fine stile home page */


/* Inizio stile form */
.form-box {
    background: #ffffff;
    overflow: hidden;
    border-radius: 2px;
    color: #010101;
}
  
.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 16px;
    text-align: center;
}
  
.title {
    font-weight: bold;
    font-size: 1.6rem;
}
  
.subtitle {
    font-size: 1rem;
    color: #666;
}
  

.form-container {
    overflow: hidden;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}
  
.input {
    background: none;
    border: 1px solid #e6ebf5;
    border-radius: 2px;
    outline: 0;
    height: 50px;
    width: 100%;
    font-size: 16px;
    padding: 8px 15px;
}
  
.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}
  
.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}
  
.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

.btn-form-accedi {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}
  
.btn-form-accedi:hover {
    background-color: #005ce6;
}
/* Fine stile form */



/* Inizio stile file mostraTabelle.php */
.table-container {
    /* max-height: 1000px; */
    overflow-y: auto;
    overflow-x: hidden!important;
}

.thead-light {
    position: sticky;
    top: -0.2px;
}
/* Fine stile file mostraTabelle.php */